nmap = matchany : string_equal : _nmap : answer=mt-daapd
curlfirst_dirb = time_before : _curl_first : _dirb
curlsecond = time_before : _curl_second : _curl_second
firefox = time_before : _firefox : _firefox
service_exec = time_before : _service_exec_pre : _service_exec_exploit
readflag = boolean : _flagview1 or _flagview2
_adduser_useradd = boolean : _adduser or _useradd
new_user_sudo = boolean : _adduser_useradd or _givesudo
