    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY anh0397307812
NETWORK LAN
     MASK 196.152.0.0/24
     GATEWAY 196.152.0.1
CONTAINER server
     USER ubuntu
     X11 YES
     LAN 196.152.0.10
CONTAINER mayattack
     USER ubuntu
     X11 NO
     LAN 196.152.0.9
     NO_GW YES
     NO_PRIVILEGE YES
