nmap = matchany : string_equal : _nmap : answer=Elasticsearch
_newindex1 = boolean : _curl1 and _curl_status
_newindex2 = boolean : _curl2 and _curl_status
new_index = boolean : _newindex1 or _newindex2
path_traversal = time_before : _path_traversal_pre : _path_traversal_exploit
indices_enum = time_before : _indices_enum_pre : _indices_enum_exploit
groovy_script = time_before : _groovy_script_pre : _groovy_script_exploit
read_2_flags = boolean : _flagview1 and _flagview2
useradd_adduser = boolean : _adduser_command or _useradd_command
add_sudo_user = time_before : useradd_adduser : _givesudo
