nmap = matchany : string_equal : _nmap : answer=PostgreSQL
postgres_login = time_before : _postgres_login_pre : _postgres_login_exploit
postgres_sql = time_before : _postgres_sql_pre : _postgres_sql_exploit
ptgres_readfile = time_before : _postgres_readfile_pre : _postgres_readfile_exploit
psql_connect = time_before : _psql_connect_ip : _psql_connect_status
_connected_1 = boolean : _connected_createdb and _connected_usedb
_connected_2 = boolean : _connected_createuser and _connected_grantrole
new_db_user = boolean : _connected_1 and _connected_2
cmd_exec = time_before : _cmd_exec_pre : _cmd_exec_exploit
readflag = time_before : _flagview : _flagview
