    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY anh0397307812
NETWORK LAN
     MASK 25.20.0.0/24
     GATEWAY 25.20.0.1
CONTAINER attack
     USER ubuntu
     X11 YES
     LAN 25.20.0.20
CONTAINER server
     USER ubuntu
     X11 NO
     LAN 25.20.0.30
     NO_PRIVILEGE YES
