nmap = matchany : string_equal : _nmap : answer=Metasploit
rpc_login = time_before : _rpc_login_pre : _rpc_login_exploit
msfrpc_connect = time_before : _msfrpc : _msfrpc
msfrpc_console = time_before : _msf_rpc_console_pre : _msf_rpc_console_exploit
readflag = boolean : _flagview1 or _flagview2 
_adduser_useradd = boolean : _adduser_command or _useradd_command
adduser_sudo = time_before : _adduser_useradd : _givesudo_command
