nmap = matchany : string_equal : _nmap_result : answer=MySQL
curl_dirb = time_before : _dirb : _curl
firefox = time_before : _firefox : _firefox
php_login_exec = time_before : _php_login_pre : _php_login_exploit
php_lfi_rce = time_before : _php_lfi_rce_pre : _php_lfi_rce_exploit
readflag = boolean : _flagview1 or _flagview2
stop_apache2 = boolean : _stop and _ps
