nmap = matchany : string_equal : _nmap : answer=Redis
redis-cli = time_before : _redis-cli : _redis-cli
file_upload = time_before : _file_upload_pre : _file_upload_exploit
read_infotxt = time_before : _cat : _cat
redis_server = time_before : _redis_server_pre : _redis_server_exploit
replication_cmd = time_before : _replication_cmd_pre : _replication_cmd_pre
readflag = time_before : _flagview : _flagview
Create_Folder = time_before : _createFolder : _grantPermission
