    GLOBAL_SETTINGS
    LAB_MASTER_SEED a_xoda_student_master_seed
    REGISTRY anh0397307812
NETWORK LAN
     MASK 172.10.0.0/24
     GATEWAY 172.10.0.1
CONTAINER attack
     USER ubuntu
     X11 YES
     LAN 172.10.0.2
CONTAINER server
     USER admin
     X11 YES
     ADD-HOST executive:172.25.0.5
     ADD-HOST hr:172.25.0.7
     ADD-HOST finance:172.25.0.11
     ADD-HOST it:172.25.0.13
     LAN 172.10.0.4
