nmap = matchany : string_equal : _nmap : answer=Redis
ssh-keygen = time_before : _ssh-keygen : _ssh-keygen
Dumping-key = boolean : _dumpingkey or _readkey
Storing-key = time_before : _storingkey : _storingkey
key-upload = time_before : _key_upload_pre : _key_upload_exploit
sshwithkey = time_before : _sshwithkey : _sshwithkey
read-flag = boolean : _flagview1 or _flagview2
