nmap = matchany : string_equal : _nmap : answer=MySQL
mysql_login = time_before : _mysql_login_prec : _mysql_login_exploit
mysql_query = time_before : _mysql_query_pre : _mysql_query_exploit
mysql_enum = time_before : _mysql_enum_pre : _mysql_enum_exploit
mysql_hashdump = time_before : _mysql_hashdump_pre : _mysql_hashdump_exploit
mysql_connect = time_before : _mysql_connect_ip : _mysqsl_connect_status
create_database = boolean : _Create_Database_1 and _Create_Database_2
